---
import ImageTag from '../components/ImageTag.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import LinkPDF from '../components/LinkPDF.astro';
const pageTitle = "Specialty Ingredients";
---
<BaseLayout pageTitle={pageTitle}>

<img src="/img/nutritional-ingredients.jpg"  class="" />

<article class="">

  <h2 class="title">{pageTitle}</h2>

  <!-- <div class="row  box-row  food-service-row aos-init aos-animate" data-aos="fade-up" data-aos-delay="200"> -->
    
  <div class="paragraphs">

    <p>Led by technology, Warlbor is devoted to providing efficacious solutions in natural special and nutritional ingredients for food and beverage, consumer healthcare and personal care products around the world.</p>

    <p>It is committed to create more affordable healthier food and healthcare nourishment to serve people across the globe with inspiration from nature and amalgamation of modern science and technology.</p>

    <p><strong>Introducing our star product –“Star Lake”- Ethyl Maltol, with two unique flavours</strong></p>

    <ul>
        <li><strong>Fruit Flavour</strong></li>
        <li><strong>Caramel Flavour</strong></li>
    </ul>
    <p>Star Lake is an extensive flavour enhancer and multifunctional taste improver, this very effectively mitigates unpleasant taste, bitterness, tartness and irritation. It finds a very wide application in dry fruits, fresh juice, beverages, wine, milk, soy sauce, herbal medicine, cosmetic, processed meat, canned food, seasoning, candy, cocoa products and all kinds of flavour compounds.</p>

    <h4>Bringing to our clients</h4>
    <ul>
        <li>30 years’ experience in developing Maltol</li>
        <li>Capacity of 2000 Tons annually</li>
        <li>Higher purity and unique aroma</li>
    </ul>  
    
    <LinkPDF 
      text="Flavor your life with Vanillin Star Lake Ingredients " 
      link="https://www.warlbor.com/assets/attachment/Food Ingredient - Vanillin Star Lake.pdf" 
    />

    <img src="/img/food-ingredients-mobile.jpg" />

  </div>
  
</article>

</BaseLayout>

