---
import ImageTag from '../components/ImageTag.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import LinkPDF from '../components/LinkPDF.astro';
const pageTitle = "Food Service";
---
<BaseLayout pageTitle={pageTitle}>

<img src="/img/our-company.jpg"  class="" />

<article class="">

	<h2 class="title">{pageTitle}</h2>

	<!-- <div class="row  box-row  food-service-row aos-init aos-animate" data-aos="fade-up" data-aos-delay="200"> -->


	<div class="paragraphs">
		
		<p>Warlbor’s exclusive- “from food for food and authentic taste”, with a very robust collection that’s second to none in the food service sector.</p>

	</div>

	<div class="food_item">
		<div >
			<img class="pl-12" src="/img/food_service/food1.jpeg" />
			<h1>Boba</h1>
				<ul>
					<li>Popping Boba</li>
					<li>Mini Lava Boba</li>
					<li>Anti-freeze Boba</li>
					<li>Bobo</li>
				</ul>
		</div>
		
		<div>
			<img src="/img/food_service/food2.jpeg" />
			<h1>Jams</h1>
				<ul>
					<li>Strawberry Jam</li>
					<li>Blueberry Jam</li>
					<li>Passionfruit Jam</li>
					<li>Water Chestnut Jam</li>
					<li>Lime Jam</li>
					<li>Rose and Cranberry Jam</li>
				</ul>
		</div>

		<div>
			<img src="/img/food_service/food3.jpeg" />
			<h1>Sauces </h1>
				<ul>
					<li>Hotpot Base</li>
					<li>Dipping Sauce</li>
					<li>Cooking Sauce</li>
					<li>Noodle Sauce</li>
				</ul>
		</div>
	</div>

</article>

</BaseLayout>

<style>

.food_item{
	@apply
	text-xl
	flex
	gap-1
	;
}

.food_item > div img{
	width:429px;
	min-width:429px;
	height:280px;
	min-height: 280px;
}
.food_item > div h1{
	@apply
	mt-5
	text-center;
}

.food_item ul {
	@apply mt-5 leading-10 ;
	padding-left: 38%;
}

.food_item ul li{
	@apply 
	list-disc
	indent-0
	;
}
</style>