---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Warlbor";
---
<BaseLayout pageTitle={pageTitle}>
  
    <article class="">

       <div>
        
       </div>

       <h1 class="title">Universal Location</h1>
       <div class="map">
            <img src="/img/map/map-huabao.jpg" alt="logo" />
       </div>

       <h1 class="title">Singapore Location</h1>
       <div class="map">
        <img src="/img/map/map-huabao-singapore-small.jpg" alt="logo" />
       </div>

        
    </article>
    
    
</BaseLayout>
<style>
    .map img{
        @apply 
        my-5;

    }
</style>