---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "";
---
<BaseLayout pageTitle={pageTitle}>
  
    <article class="">

        <div>

        </div>

        <h1 class="title">Universal Location</h1>

        <a class="block my-5" href="https://goo.gl/maps/NV8xZ9YZUgnLuqnV8" target="_blank">
            <img src="/img/map/map-huabao.jpg" alt="logo" />
        </a>

        <h1 class="title">Singapore Location</h1>

        <a class="my-5 flex place-items-center"  href="https://goo.gl/maps/Nx1KnShjjmpx4PGj9" target="_blank">
            <img src="/img/map/map-huabao-singapore-small.jpg" alt="logo" />
                
            <h1 class="p-5 text-xl">

                    <strong>
                        Warlbor Asia Pacific Pte. Ltd.
                    </strong>
                    <p class="pt-5">
                        The Kendall, #05-04/06, 50 Science Park Road
                        Science Park II, Singapore 117406
                    </p>

            </h1>
        </a>

        
    </article>
    
    
</BaseLayout>
<style>
    
</style>