---
import ImageTag from '../components/ImageTag.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
const h2Title   = "Innovation Achievements";
const pageTitle = "Warlbor" + h2Title;
---
<BaseLayout pageTitle={pageTitle}>
<img src="/img/innovation-achievements.jpg"  class="" />

<article class="">

    <h2 class="title">{h2Title}</h2>

    <div class="paragraphs">

      <p>With a future focused strategic vision, Warlbor, has been carrying out high-input continuous research on upstream, downstream and related technologies of the industry chain by organising various innovations as a strategic input.</p>
      <p>At Warlbor we dedicate ourselves to Research and Development by our ever increasing commitment in a special fund from the annual revenue generated from the business.</p>
      <p>This continually growing of more than US$15 million has helped in introducing new equipment and upgradation as per industry standards. Making us the industry leader in R&D investment and equipment configuration. This gets further boosted with our sound technical R&D personnel training, collaboration and exchange system designed by keeping in view the systematic project lifecycle management mechanism confirming efficient operation of the technology research and development systems all this resulting in remarkable improvement in the core competency or our products, constantly contributing in technology investment, before time upgradations and new industry hatching. Keeping Warlbor Asia Pacific Pte Ltd ahead of the curve.</p>

    </div>
    
</article>

</BaseLayout>

