---
import ImageTag from '../components/ImageTag.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import LinkPDF from '../components/LinkPDF.astro';

const pageTitle = "Natural Extracts";
---
<BaseLayout pageTitle={pageTitle}>

<img src="/img/natural-extracts-banner.jpg"  class="" />

<article class="">

  <h2 class="title">{pageTitle}</h2>

  <div class="paragraphs">


    <img class="w-3/4 my-5" src="/img/natural-extracts-col.jpg" />

    <p>
      The high standard and high quality of Warlbor’s products is
      maximized for customers so they can save costs on one hand while
      having access to customization on the other.
    </p>

    <p>
      Warlbor takes pride in their proprietary methods of natural
      extraction. It uses extracts as a core base material and then
      performs natural flavoring and Maillard reaction to create different
      flavors.
    </p>

    <p>
      Warlbor insists on using raw materials of the highest order, for the
      production of and processing of products.
    </p>

    
    
    <!-- <h2>Related Documents</h2>

    <h4>Our Products</h4>
    <LinkPDF 
      text="Flavor your life with savoury natural extracts" 
      link="https://www.warlbor.com/assets/attachment/Designed Brochure - Jia Pin Jia Wei.pdf" 
    />
    <LinkPDF 
      text="Flavor your life with sweet & botanical natural extracts" 
      link="https://www.warlbor.com/assets/attachment/Designed Brochure - Milion Natural Extracts.pdf" 
    />
    
    <h4>Flow-Chart</h4>
    <LinkPDF 
      text="Process Expertise- Extraction" 
      link="https://www.warlbor.com/assets/attachment/Flow chart 1.jpeg" 
    />
    <LinkPDF 
      text="Concentrate Condiment Production Process Flowchart" 
      link="https://www.warlbor.com/assets/attachment/Flow chart 2.jpg" 
    /> -->
      
  </div>
  
</article>
</BaseLayout>

  
  