---


---

  <div>
    <div class="article_title">
      <NimgSourcetype src="img/natural-extracts-banner.jpg"></NimgSourcetype>
      <h1>Natural Extracts</h1>
    </div>

    <div class="article">
      <div class="article_pic_half">
        <div>
          <p>
            The high standard and high quality of Warlbor’s products is
            maximized for customers so they can save costs on one hand while
            having access to customization on the other.
          </p>

          <p>
            Warlbor takes pride in their proprietary methods of natural
            extraction. It uses extracts as a core base material and then
            performs natural flavoring and Maillard reaction to create different
            flavors.
          </p>

          <p>
            Warlbor insists on using raw materials of the highest order, for the
            production of and processing of products.
          </p>
        </div>
        <div>
          <img src="/img/natural-extracts-col.jpg" />
        </div>
      </div>
    </div>
    <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <p>Related Documents</p>
        </div>
        <div class="row portfolio-box" data-aos="fade-up" data-aos-delay="200">
          <div class="col-lg-6 col-md-2 portfolio-box">
            <div class="portfolio-wrap-custom">
              <div class="portfolio-info-custom">
                <h4>Our Products</h4>
                <p>
                  <img
                    src="https://wwwimages.adobe.com/content/dam/acom/en/legal/images/badges/Adobe_PDF_file_icon_32x32.png"
                    alt="Text Book"
                  /><a
                    href="https://www.warlbor.com/assets/attachment/Designed Brochure - Jia Pin Jia Wei.pdf"
                    target="_blank"
                    class="container"
                    >Flavor your life with savoury natural extracts
                  </a>
                  <br />

                  <img
                    src="https://wwwimages.adobe.com/content/dam/acom/en/legal/images/badges/Adobe_PDF_file_icon_32x32.png"
                    alt="Text Book"
                  /><a
                    href="https://www.warlbor.com/assets/attachment/Designed Brochure - Milion Natural Extracts.pdf"
                    target="_blank"
                    class="container"
                    >Flavor your life with sweet & botanical natural extracts
                  </a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-2 portfolio-box">
            <div class="portfolio-wrap-custom">
              <div class="portfolio-info-custom">
                <h4>Flow-Chart</h4>
                <p>
                  <img
                    src="https://wwwimages.adobe.com/content/dam/acom/en/legal/images/badges/Adobe_PDF_file_icon_32x32.png"
                    alt="Text Book"
                  /><a
                    href="https://www.warlbor.com/assets/attachment/Flow chart 1.jpeg"
                    target="_blank"
                    class="container"
                    >Process Expertise- Extraction
                  </a>
                  <br />

                  <img
                    src="https://wwwimages.adobe.com/content/dam/acom/en/legal/images/badges/Adobe_PDF_file_icon_32x32.png"
                    alt="Text Book"
                  /><a
                    href="https://www.warlbor.com/assets/attachment/Flow chart 2.jpg"
                    target="_blank"
                    class="container"
                    >Concentrate Condiment Production Process Flowchart
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
