---
import ImageTag from '../components/ImageTag.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import LinkPDF from '../components/LinkPDF.astro';
const pageTitle = "Natural Colours";
---
<BaseLayout pageTitle={pageTitle}>

<img src="/img/natural-colours.jpg"  class="" />

<article class="">

	<h2 class="title">{pageTitle}</h2>

   
	<div class="paragraphs">

      <p>With a magical portfolio of <strong>Turmeric extract, Beta carotene, Red Beet, Spirulina, Black carrot, Elderberry extract, Lutein and Rosemary extract, State of the analytical capability with equipment like UPLC-Q-TOF-MS, HPLC-VWD,HPLC-FLD,GPC,X series 2ICP-MS, GC/Q-TOF, HS-GC,FLOWSYS and IC available in abundance in our labs.</strong></p>

      <p>Certified as FSC22000, ISO220000, ISO 9001, BRC, Kosher and Halal certificates</p>

      <p>Warlbor is fast emerging as the one stop solution for micro-emulsion, micro encapsulation, blending and premix applications from testing to regulatory procedures</p>

      <p>Inspired by tradition, transfer of in-depth technology knowledge and industrial solution to its clients </p>

      <p>Supported with a global production site built with an investment of US $35 million</p>

      <LinkPDF 
        text="Flavor your life with natural colours " 
        link="https://www.warlbor.com/assets/attachment/Designed Brochure -Natural Colours.pdf" 
      />

      <img src="/img/natural-color-collage.jpg" />

	</div>
	
</article>

</BaseLayout>


