---
import ImageTag from '../components/ImageTag.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import LinkPDF from '../components/LinkPDF.astro';
const pageTitle = "Nutritional Ingredients";
---
<BaseLayout pageTitle={pageTitle}>

<img src="/img/nutritional-ingredients.jpg"  class="" />

<article class="">

	<h2 class="title">{pageTitle}</h2>

	<!-- <div class="row  box-row  food-service-row aos-init aos-animate" data-aos="fade-up" data-aos-delay="200"> -->
   
	<div class="paragraphs">

      <p>Warlbor’s intent of keeping additives away from food is gaining a lot of attraction world over.</p>

      <p>By providing green and pollution free high quality nutritious food is actively helping the condiment industry transform and upgrade to scientific and safer direction and set off de –additive and pure naturalization trend.</p>

      <p>Warlbor is committed to drive the de-additive culture world over and this is supported by Warlbor’s integrating food research- development and customised solution.</p>

      <p> Warlbor has been consistently working towards to add to its portfolio, patents of utility to the humanity.</p><br>
      
	      
	  <LinkPDF 
      text="Flavor your life with color pellet" 
      link="ttps://www.warlbor.com/assets/attachment/COLpellet flyer.pdf" 
      />

		
      <img src="/img/nutritional-ingredients-col.jpg" />

	</div>
	
</article>

</BaseLayout>

