---


---
  <div>

    <div id="top_banner">

    </div>

    <div id="page_content">
        
       <div class="row  box-row aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
            <div class="col-lg-6 col-md-12 flavour-text-col">
                    <p>Warlbor’s intent of keeping additives away from food is gaining a lot of attraction world over.</p>

                    <p>By providing green and pollution free high quality nutritious food is actively helping the condiment industry transform and upgrade to scientific and safer direction and set off de –additive and pure naturalization trend.</p>

                    <p>Warlbor is committed to drive the de-additive culture world over and this is supported by Warlbor’s integrating food research- development and customised solution.</p>

                   <p> Warlbor has been consistently working towards to add to its portfolio, patents of utility to the humanity.</p><br>
                   
                  
                   
                  <p> <img src="https://wwwimages.adobe.com/content/dam/acom/en/legal/images/badges/Adobe_PDF_file_icon_32x32.png" alt="Text Book" /><a href="https://www.warlbor.com/assets/attachment/COLpellet flyer.pdf" target="_blank" class="container">Flavor your life with color pellet </a> </p>
                 

            </div>
            <div class="col-lg-6 col-md-12 flavour-img-col">
               <img src="/img/nutritional-ingredients-col.jpg">
            </div>
         </div>
      
    </div>

  </div>

