---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Warlbor Our Purpose";
---
<BaseLayout pageTitle={pageTitle}>

<!-- <img src="/img/natural-extracts-banner.jpg"  class="" /> -->

<article class="">

    <h2 class="title">STIMULATING FLAVOUR | SMOOTH TEXTURE | <br /> SENSORY REIMAGINATION</h2>
    
    <div class="paragraphs">

      <p>We believe in the value, ‘flavour’ holds as an affirmation in peoples’ life and not just an accompaniment. We are here to turn thoughts into action, learnings into experience and talent into creating unique flavours every day - this gets guided by our distinct, ‘the theory of taste’, proposing beauty, elegance, love, connection and sensuality. The theory consistently works towards to deepen relationships, achieve intimacy, feel exclusive, make the mysterious mischievous and let others and communities feel special too with our</p>

      <p>That’s all so very intrinsic to what, how and why we do.</p>
      
    </div>
    
</article>

</BaseLayout>

