---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Our Brand Story";
---
 
<BaseLayout pageTitle={pageTitle}>

<img src="/img/brand-story.jpg"  class="" />

<article class="">

    <h1 class="title">Flavor your life, make it tasteful</h1>

    <video
      autoplay
      loop
      muted
      class="brand_story_video"
    >
      <source
        src="brand_story.mp4"
        type="video/mp4"
      />
      Your browser does not support the video tag.
    </video>
    
    <div class="paragraphs">

      <p>There are those who simply make their lives special. And also there are those who encourage others to take charge of their lives and live tastefully. For them taste lies in beauty and it is that valuable taste, smooth texture and sensory imagination that makes it further beautiful. It is just not about admiration alone but the real flavour and the congenial togetherness that make the true difference. </p>
      <p>With our exclusive theory of taste, wherein our flavours inspire, attract and draw the best in individuals, communities and clientele giving you the ability to feel closer to self, nature, resources, and communities, celebrate togetherness, love and respect for self, others and all beings.
      </p>
      <p>It is this confidence at the core of the theory of taste that proposes beauty, elegance, connection and sensuality consistently working towards deepening relationships, achieve intimacy, feel exclusive, making the mysterious mischievous, let others and communities feel closer.</p>
      <p>With Warlbor flavour your collective experiences; celebrate tastes as individual as well as a happy community, people who love togetherness not just because of the influence intimacy delivers but because it feeds the mind, warms the heart and pleases the senses as evenly as it is at Warlbor - by creating unique flavours for everyday life help people live fully. It's only when we support people, respect life, we make lives FLAVOURFUL.</p>
  
    </div>
    
</article>


</BaseLayout>

<style> 
.brand_story_video {
  @apply
  my-5 pr-5 
  z-10 
  /* h-1/4  */
  w-3/4
  /* min-w-min */
  min-h-min 

  ;
}

</style>

