---
import ImageTag from '../components/ImageTag.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle   = "Associate Companies";
---
<BaseLayout pageTitle={pageTitle}>
<img src="/img/associate.jpg"  class="" />

<article class="">

    <h2 class="title">{pageTitle}</h2>

    <div class="paragraphs">

      <p>At Warlbor, we seek pride and support from the lineage of our associate companies.</p>
      <ul>
          <li>Huabao Flavours & Fragrances Co., Ltd</li>
          <li>Jiangxi Huawei Food Technology Development Co., Ltd.</li>
          <li>Shanghai Weimantianxia Food Co., Ltd.</li>
          <li>Sino Top Trading Limited</li>
          <li>Power Success Int'l Development Limited</li>
          <li>Wuxi Huahai Flavours & Fragrances Co., Ltd.</li>
          <li>Rich Million Investments Limited</li>
          <li>Sino Investment High-Tech Limited</li>
          <li>Profit Concept Holdings Limited</li>


          <li>Jiangxi H&K Food Technology Development Co., Ltd.</li>
          <li>Lhasa Huabao Food Co., Ltd.</li>
          <li>Better World Naturals Co., Ltd</li>
          <li>Better World Naturals US Co., Ltd</li>
          <li>Yingtan Huabao Flavors & Fragrances Co.,Ltd</li>
          <li>Xiamen Amber Daily Chemical Technologyco., Ltd</li>
          <li>Warlbor Asia Pacific PTE.LTD.</li>
          <li>PT Warlbor Flavour and Ingredients Indonesia</li>
          <li>Owada Flavours (Guangzhou) Co.,LTD</li>
          <li>Guangzhou Hua Fang Tobacco Flavors Ltd.</li>
          <li>Huabao Flavors & Fragrances (HK) Ltd</li>
          <li>F&G (Botswana) (Proprietary) Limited</li>
          <li>Aromascape Development Centre GmbH</li>
          <li>Wuxi Huahai Flavors & Fragrances Co., Ltd</li>
          <li>Yunnan Tianhong Flavor Co., Ltd.</li>
          <li>Huabao GMBH</li>
          <li>Qingdao Huabao Flavors & Fragrances Co., Ltd</li>
          <li>Shanghai H&K Flavors & Fragrances Co., Ltd.</li>
          <li>Haikou Huazhen Food Technology Co., Ltd.</li>
          <li>Shanghai Huazhen Food Science& Technology Developing Co.Ltd</li>
          <li>Guangzhou Huabao Food Co.,Ltd</li>
          <li>Guangzhou Hanfo Food Culture Co.,Ltd.</li>
      </ul>
    </div>
    
</article>

</BaseLayout>

