---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Our Management";
---
<BaseLayout pageTitle={pageTitle}>

<img src="/img/natural-extracts-banner.jpg"  class="" />

<article class="">

    <h1 class="title" >Our Management</h1>

    <div class="paragraphs">
        
        <div class="img_text">
            
            <div class="image">
                <img src="img/xiaoqin.jpg" alt="" />
            </div>

            <div class="text">
                <div>
                    <p>
                    Huabao Flavour & Fragrance Co., Ltd chose to expand its flavour capability across ASEAN market. Our Singapore site – Warlbor Asia Pacific Pte Ltd represents Huabao’s largest global investment and it functions aligned with corporate vision – Flavor Your Life.
                    Singapore was chosen as the site of new innovation center due to its diversity at the heart of Southeast Asia with strong ambitious for the future of food & beverage. 
                    Singapore was chosen also because of skilled professionals and an advance infrastructure that supports food & beverage innovations. 
                    Guided by corporate mission – Green, Healthy and Nutritious, Warlbor Asia Pacific Pte. Ltd as the new innovation center strives to solve a variety of food & beverage challenges.  
                    </p>

                    <h3>Yuan XiaoQin</h3>
                    <h4> President & Board of Director </h4>
                    <h4> Huabao Flavours and Fragrances Co. Ltd  </h4>
                </div>
            </div>
        </div>

        <div class="img_text">
            <div class="image">
                <img src="img/dong.png" alt="" />
            </div>
            <div class="text">
                <div>
                    <p>
                        Warlbor Asia Pacific is set up as a regional hub in Asia Pacific showcasing the comprehensive capabilities from flavour creation to consumer insight. Guided by Flavor your life – Warlbor APAC strives to provide best in class industrial solutions across food and beverage categories for our respective customers. 
        Singapore - as our first flavour innovation centre overseas representing the geographic and talent advantages for Warlbor APAC to build and strengthen its offerings from complexities to intensities. Warlbor APAC will be a financial success with a strong social conscious which carries greater credibility with peers, potentially influencing actions of other businesses. 
        
                            </p>
        
                            <h3>Veronica Dong</h3>
                            <h4> General Manager </h4>
                            <h4> Warlbor Asia Pacific Pte. Ltd. </h4>
                </div>
            </div>
        </div>
    </div>
    
</article>

</BaseLayout>

<style>
    .img_text {
        @apply
        grid
        grid-cols-2
        my-5
        ;
    }
    
    .img_text  img{
        @apply w-full;
    }
    .img_text .text{
        background-color: #291264;
        @apply
        text-white
        /* w-1/2 */
        flex
        px-6
        place-content-center
        place-items-center
        ;
    }
    .img_text .text p{
        @apply
        leading-10
        pr-3
        ;
    }
    .img_text .text h3,
    .img_text .text h4{
        @apply
        leading-9
        text-center	
        pr-0
        ;
    }
</style>
