---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Warlbor Our Management";
---
<BaseLayout pageTitle={pageTitle}>


<img src="/img/natural-extracts-banner.jpg"  class="" />

<article class="">

    <h1 class="title" >Natural Extracts</h1>

    <div class="">
        <img src="/img/xiaoqin-md.jpg" alt="xiaoqin" class="">
    </div>

    
    <div class="paragraphs">

        <p>
            Warlbor Asia Pacific is the regional hub for further expansion in Southeast Asia as well as the rest of world. We are looking forward to this unique taste discovery journey and to creating better lives for all the consumers.
            <br><br>
            We believe in the value, 'flavour' holds as an affirmation in peoples' life and not just an accompaniment. We are here to turn thoughts into action, learnings into experience and talent into creating unique flavours every day - this gets guided by our distinct, 'the theory of taste', proposing beauty, elegance, love, connection and sensuality.
        </p>
        
        <strong>Yuan Xiaoqin</strong>
        <small>Board of Director and President <br> Huabao Flavours and Fragrances Co., Ltd.</small>
        
    </div>
    
</article>



</BaseLayout>

<style>

article {
    @apply p-10
    ;
}
article .title{
    @apply 
    font-semibold 
    text-4xl
    text-sky-700 
    ;
}
article .paragraphs {
    @apply 
        font-mono
    ;
}

article .paragraphs p {
    @apply 
        my-5
    ;
}


</style>

