---


---
    <div class="article_title">
      <!-- <NimgSourcetype src="img/natural-extracts-banner.jpg"></NimgSourcetype> -->
      <h1>Natural Extracts</h1>
    </div>

    <div class="article">
      <div class="article_pic_half">

        
            <div class="row message-div">
                <div class="col-lg-5 image-col">
                    <img src="http://warlbor.com/assets\img\xiaoqin-md.jpg" alt="xiaoqin" class="img-fluid md-image">
                </div>
                <div class="col-lg-7 message-col">
                    <div class="message-block">
                        Warlbor Asia Pacific is the regional hub for further expansion in Southeast Asia as well as the rest of world. We are looking forward to this unique taste discovery journey and to creating better lives for all the consumers.
                        <br><br>
                        We believe in the value, 'flavour' holds as an affirmation in peoples' life and not just an accompaniment. We are here to turn thoughts into action, learnings into experience and talent into creating unique flavours every day - this gets guided by our distinct, 'the theory of taste', proposing beauty, elegance, love, connection and sensuality.
                        <div class="text-center md-name">
                            <h6>
                                <strong>Yuan Xiaoqin</strong>
                                <br>
                                <small>Board of Director and President <br> Huabao Flavours and Fragrances Co., Ltd.</small>
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        
    </div>

  </div>
