---
import ImageTag from '../components/ImageTag.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Sustainable Development";
---
<BaseLayout pageTitle={pageTitle}>

<img src="/img/sustainable-development.jpg"  class="" />

<article class="">

    <h2 class="title">{pageTitle}</h2>

    <div class="paragraphs">

      <p>With sustainable development in mind, Warlbor Asia Pacific Pte Ltd, recognizes and accepts its social and moral responsibilities as a “global citizen”, and treats economic, ecological and social responsibilities as equally important business objectives. Here we find the balance between economic development, environmental protection and social progress, treats people with respect, and enables all stakeholders to enjoy benefits. By practicing environment protection throughout every project, Warlbor brings the principle of sustainable development to daily work.</p>

    </div>
    
</article>

</BaseLayout>