---
import Social from './Social.astro';
---


<footer id="footer" >

  <div id="logo">
    <a href="/">
      <img src="/img/logo/logo-en.png" alt="logo" />
    </a>
    <Social></Social>
  </div>
  
  <div class="address">
      
      <a class="block" href="https://goo.gl/maps/NV8xZ9YZUgnLuqnV8" target="_blank">
        <strong>Warlbor Asia Pacific Pte. Ltd.</strong> 
        <p>
          The Kendall, #05-04/06, 50 Science Park Road
          Science Park II, Singapore 117406
        </p>
      </a>

      <a href="https://goo.gl/maps/Nx1KnShjjmpx4PGj9" target="_blank">
        <strong>PT. Warlbor Flavour And Ingredients Indonesia </strong> 
        <p>
          Kawasan Industri Tunas Kabil Type 5-E 
        Kelurahan Kabil, Kecamatan Nongsa 
        Kota Batam – Kepulauan Riau
        </p>
      </a>
      
  </div>
  
  <div class="contact">
      <p>
        <strong>Phone:</strong>   <a href="tel:65 6993 3194">warlbor+65 6993 3194</a>
      </p>
      <p>
        <strong>Email:</strong>   <a target="_blank" href="mailto:warlbor@hbflavor.com">warlbor@hbflavor.com</a>  
      </p>

      <div><strong>Monday - Friday:</strong>  9:00 AM to 6:00 PM</div>
      <div><strong>Saturday - Sunday:</strong> Closed</div>
  </div>

</footer>



<style>
  footer {
     @apply 
     grid
     px-10 
     text-lg
     ;
     grid-template-columns: 25% auto 25%;
  }

  footer #logo  img{
    @apply 
    w-80
    pt-4
    block;
  }
  footer > div {
     @apply 
     flex 
     flex-col;
  }
  footer .address{
    @apply leading-10 pr-7;    
  }
  footer .contact{
    @apply 
    leading-10;
  }
  strong {
    @apply contents;
  }

  
</style>
 