---
import Social from './Social.astro';
---

<style>
  footer {
     @apply 
     grid
     grid-cols-4
     p-16 
     text-base 
     text-sky-700 
  }
  footer #logo {
    @apply 
    mr-5
    block;
  }
  footer > div {
     @apply flex 
     flex-col justify-center items-center;
  }
  strong {
    @apply contents;
  }
</style>

    <footer id="footer" >
      <div id="logo">
        <a href="/">
          <img src="/img/logo/logo-blue.svg" alt="logo" />
        </a>
      </div>
      
      <div>
        <strong>Address:</strong> The Kendall, #05-04/06, 50 Science Park Road
        Science Park II, Singapore 117406
      </div>

      <div>
        <p>
          <strong>Phone:</strong>   <a href="tel:65 6993 3194">warlbor+65 6993 3194</a>
        </p>
        <p>
          <strong>Email:</strong>   <a target="_blank" href="mailto:warlbor@hbflavor.com">warlbor@hbflavor.com</a>  
        </p>
      </div>

      <div>
        <div><strong>Monday - Friday:</strong>  9:00 AM to 6:00 PM</div>
        <div><strong>Saturday - Sunday:</strong> Closed</div>
      </div>

      <social></social>

    </footer>
  
 