---
// import Hamburger from "./Hamburger.astro";
// import IconArrowDown from "~icons/ic/sharp-keyboard-arrow-down";
---


<header id="header">

  <a id="header_logo" href="/" class="flex items-center mt-4">
    <img src="/img/logo/logo-blue.svg" alt="logo" />
  </a>

  <div class="menu">
    
    <div class="dropdown">
      <a href="/"> <h5>Home</h5></a>
    </div>

    <div class="dropdown">
      <a
        ><h5>Company<icon-arrow-down /></h5
      ></a>
      <ul>
        
        <li>
          <a href="our-management">Management</a>
        </li>
        <li>
          <a href="our-brand-story">Brand Story</a>
        </li>
        <li>
          <a href="our-purpose">Purpose</a>
        </li>
        <li>
          <a href="our-vision">Vision</a>
        </li>
        <li>
          <a href="our-mission">Mission</a>
        </li>

        <!-- <li>
          <a href="about-us">About</a>
        </li> -->

        <!-- <li>
          <a href="contact-us">Contact</a>
        </li> -->
      </ul>
    </div>

    <div class="dropdown">
      <a
        ><h5>Business Activity <icon-arrow-down /></h5
      ></a>
      <ul>
        <li>
          <a href="research-development">Research and Development</a>
        </li>
        <li>
          <a href="innovation-achievements">Innovation Achievements</a>
        </li>
        <li>
          <a href="our-associates">Associates</a>
        </li>
      </ul>
    </div>

    <div class="dropdown">
      <a
        ><h5>Industries <icon-arrow-down /></h5
      ></a>
      <ul>
        <li>
          <a href="food-and-beverages-flavours">Flavours</a>
        </li>
        <li>
          <a href="natural-extracts">Natural Extracts</a>
        </li>
        <li>
          <a href="natural-colours">Natural Colours</a>
        </li>
        <li>
          <a href="specialty-ingredients">Specialty Ingredients</a>
        </li>
        <li>
          <a href="nutritional-ingredients">Nutritional Ingredients</a>
        </li>
        <li>
          <a href="food-service">Food Service</a>
        </li>
      </ul>
    </div>

    <div class="dropdown">
      <a href="/sustainable-development"> <h5>Sustainable Development</h5></a>
    </div>

    <div class="dropdown">
      <a href="/careers"> <h5>Careers</h5></a>
    </div>

  </div>
  <!-- <a href="/search">Search</a> -->
</header>
  
 
<style>
  html {
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    @apply
    text-sm;
    /* @apply font-sans; */
  }
  header {
    @apply 
    w-full 
    max-w-full 
    flex 
    /* justify-center */
    /* justify-items-center */
    /* content-center
    items-center
    self-center*/
    place-items-center 
    /* place-self-center */
    
    z-40 
    mb-5
    bg-white 
    bg-opacity-50;
  }

  header #header_logo img{
    @apply flex mx-10 w-72
    ;
  }
  
  .menu {
    @apply flex h-3 pl-4 space-x-3
      text-sky-700;
  }
  
  .menu  .dropdown {
    @apply inline-block relative text-sky-700 
    whitespace-nowrap
    ;
  }
  .menu  .dropdown > a {
      @apply font-semibold
            text-lg 
            px-4
            py-2
            inline-flex
            items-center;
  }
  .menu .dropdown > ul {
    @apply 
    subpixel-antialiased 
    px-1
    py-1
    shadow-2xl
    rounded
    border 
    text-lg 
    z-40 
    absolute 
    top-10 
    -left-2
    hidden
    bg-white
    ;
  }
  .menu  .dropdown  li {
    @apply 
    cursor-pointer
    whitespace-nowrap;
  }
  .menu .dropdown li a {
    @apply 
    py-2 
    px-5
    block ;
  }

  .menu .dropdown a:visited {
    @apply bg-gray-100 rounded;
  }
  .menu .dropdown a:hover  {
    @apply bg-gray-100 rounded;
  }
  .menu .dropdown:hover ul {
    @apply block;
  }
</style>
