<template>
  <div class="relative">
    <warlbor_header />
    <!-- <slot /> -->
    <NuxtPage />
    <warlbor_footer />
  </div>
</template>


<script setup lang="ts">
const route = useRoute();
const host = process.server
  ? useNuxtApp().ssrContext.req.headers.host
  : window.location.host;

useHead({
  link: [{ rel: "canonical", href: `https://${host}${route.path}` }],
});
</script>

<style lang="postcss">

body {
  @apply font-sans text-lg leading-loose text-dark-100 subpixel-antialiased;
}
h1 {
  @apply text-5xl font-800 text-sky-700 mt-0 mb-5;
}

h3 {
  @apply text-3xl leading-13 font-600 text-sky-700 mt-0 mb-5;
}
h5 {
  @apply text-lg font-500 mt-0 mb-3 flex items-center;
  svg {
    @apply inline-block;
  }
}

/*  h1 */
/* .h1 {
  @apply text-5xl font-800 text-sky-700 mt-0 mb-5
}
h4 {
  @apply h1 text-2xl
} */

.article {
  @apply p-16 font-400 ;
  ul {
    @apply list-disc ml-7 mb-5;
    li {
      @apply leading-8;
    }
  }
  p {
    @apply indent-lg mt-0 mb-3;
  }
  a {
    @apply text-sky-700;
  }
}
.article_title{
  @apply relative;
  h1{
    @apply absolute left-15 bottom-1;
  }
}
.article_pic_half{
   box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
   
   @apply rounded-md flex h-110;
   > div:nth-child(1){
      @apply px-10 w-1/2 flex flex-col justify-center;
   }
   > div:nth-child(2){
      @apply w-1/2;
      img{
        @apply w-full h-full object-cover; 
      }
   }
}
</style>